main .compensation-calculator {
  border-radius: 12px;
  box-shadow: 0 4px 12px 4px #86868624;
  margin: 2em auto;
  position: relative;
  max-width: 820px;
  display: flex;
  align-items: flex-end;
}

main .compensation-calculator h2 {
  font-size: 20px;
  line-height: 26.5px;
  margin: 0 0 15px;
}

main .compensation-calculator p {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

main .compensation-calculator-content {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2em;
}

main .compensation-calculator-content-left {
  order: 1;
}

main .compensation-calculator-content-left picture {
  display: flex;
}

main .compensation-calculator-content-left img {
  width: 100%;
}

main .compensation-calculator-content-right {
  order: 0;
  padding: 3em 25px 0;
}

main .compensation-calculator-content-right p:first-child {
  margin-bottom: 20px;
}

main .compensation-calculator-content-right .form-cta-container {
  display: flex;
  gap: 17px;
  justify-content: center;
  margin-top: 40px;
}

main .compensation-calculator button {
  text-decoration: none;
  border-radius: 100px;
  border: none;
  padding: 16px 23px;
  text-align: center;
  font-size: 14px;
  font-family: var(--display-font-family);
  font-weight: 500;
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--theme-shade5);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  transition: background-color 0.1s;
  transition: all 0.3s;
}

main .compensation-calculator button:hover,
main .compensation-calculator .result-wrapper .result-right .button:hover {
  background-color: var(--theme-shade5);
  box-shadow: 0 4px 12px 4px #86868624;
}

main .compensation-calculator .d-none {
  display: none;
  z-index: -1;
}

main .compensation-calculator form {
  display: grid;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--secondary-theme-tint15);
  gap: 20px;
}

main .compensation-calculator form.active {
  display: grid;
  z-index: 1;
}

main .compensation-calculator .tab {
  display: none;
  justify-content: space-between;
  flex-flow: column wrap;
  align-items: center;
  row-gap: 25px;
  padding: 2em 25px;
  height: 100%;
}

main .compensation-calculator .last-tab {
  padding: 6.5em 0 0;
}

main .compensation-calculator form .tab:last-child {
  padding-left: 0;
  padding-right: 0;
}

main .compensation-calculator .tab .field-item {
  width: 100%;
  position: relative;
}

main .compensation-calculator .tab .field-item.has-icon input[type='number'] {
  padding-left: 3.5em;
}

main .compensation-calculator .tab .field-item input[type='number'] {
  height: 52px;
  border: 1px solid #b1bfca;
  border-radius: 8px;
  padding-left: 1.2em;
}

main .compensation-calculator .tab .field-item.invalid input[type='number'] {
  border-color: red;
}

main .compensation-calculator .error {
  position: absolute;
  font-size: 12px;
  color: red;
}

main .compensation-calculator .tab .field-item input[type='range'] {
  --percent: 50%;

  background-color: var(--secondary-theme-tint10);
  background-image: linear-gradient(var(--theme-shade5), var(--theme-shade5));
  background-size: var(--percent) 100%;
  background-repeat: no-repeat;
  border-radius: 0;
  display: block;
  height: 0.5em;
  transition: background-color 0.3s;
  appearance: none;
  margin-top: 2px;
}

main .compensation-calculator .tab .field-item input[type='range']::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 23px;
  background-color: var(--theme-shade5);
  cursor: pointer;
}

main .compensation-calculator .tab .field-item label {
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  display: block;
}

main .compensation-calculator .tab .field-item input {
  width: 100%;
  margin-top: 8px;
}

main .compensation-calculator .field-item-range {
  position: relative;
}

main .compensation-calculator .field-item-range .range-value {
  background-color: var(--theme-shade5);
  color: white;
  padding: 2px 12px;
  position: absolute;
  border-radius: 4px;
  left: 50%;
  transform: translate(-46%, 23%);
  font-size: 14px;
}

main .compensation-calculator .field-item-range .range-value::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 10px solid var(--theme-shade5);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: -5px;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}

main .compensation-calculator .progress-bar {
  display: flex;
  position: absolute;
  top: -8px;
  left: 0;
  width: 100%;
}

main .compensation-calculator .step {
  height: 8px;
  background-color: #e8f3fa;
  flex: 1;
}

main .compensation-calculator .step.step-active {
  background-color: var(--theme-shade5);
}

main .compensation-calculator .step.finish {
  background-color: var(--theme-shade5);
}

main .compensation-calculator .tooltip {
  position: relative;
  display: inline-block;
  margin-left: 0.25rem;
  width: 14px;
  height: 14px;
  background: var(--theme-shade5);
  cursor: help;
  border-radius: 50%;
  top: 2px;
}

main .compensation-calculator .tooltip::before,
main .compensation-calculator .tooltip::after {
  content: '';
  position: absolute;
  width: 2px;
  background: white;
}

main .compensation-calculator .tooltip::before {
  height: 2px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -220%);
}

main .compensation-calculator .tooltip::after {
  top: 50%;
  left: 50%;
  height: 5px;
  transform: translate(-50%, -15%);
  width: 2px;
}

main .compensation-calculator .tooltip-text {
  position: absolute;
  display: block;
  pointer-events: none;
  opacity: 0;
  top: 1.4rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--theme-shade5);
  border-radius: 0.5rem;
  color: white;
  width: 10rem;
  padding: 0.25rem;
  text-align: center;
  font-size: 0.75rem;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

main .compensation-calculator .tooltip:hover .tooltip-text {
  opacity: 1;
  top: 1.25rem;
  transition: all 0.3s ease;
}

main .compensation-calculator .navbtn-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  grid-row: 2;
  padding: 0 25px 2em;
}

main .compensation-calculator #prev-btn {
  border: 1px solid var(--theme-shade5);
  color: var(--theme-shade5);
  background-color: transparent;
}

main .compensation-calculator #prev-btn:hover {
  border-color: var(--theme-shade5);
  color: var(--theme-shade5);
}

main .compensation-calculator .range-container {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

main .compensation-calculator .description-text {
  font-size: 11px;
  font-weight: 500;
  line-height: 15px;
}

main .compensation-calculator .result-wrapper {
  width: 100%;
}

main .compensation-calculator .result-wrapper .result-left,
main .compensation-calculator .result-wrapper .result-right {
  flex: 0 0 50%;
  padding: 0 2rem;
  margin: 0 auto;
  text-align: start;
  word-break: break-word;
}

main .compensation-calculator .result-wrapper .result-left {
  padding-bottom: 3.7em;
}

main .compensation-calculator .result-wrapper .result-left .reset-calc-btn {
  background-color: transparent;
  padding: 0;
  text-decoration: underline;
  color: var(--theme-shade5);
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

main .compensation-calculator .result-wrapper .result-left .reset-calc-btn:hover {
  box-shadow: unset;
}

main .compensation-calculator .result-wrapper .result-right .button {
  padding: 16px 48px;
  background-color: var(--theme-shade5);
  border-radius: 25px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  transition: all 0.3s;
  font-family: var(--body-font-family);
}

main .compensation-calculator .result-wrapper .result-right {
  max-width: unset;
  margin: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #d2e5f0;
  background-color: var(--secondary-theme-tint5);
}

main .compensation-calculator .result-wrapper .result-right-text {
  max-width: 240px;
  padding: 4.5em 0;
}

main .compensation-calculator .result-wrapper .result-right-text p {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

main .compensation-calculator .result-wrapper .calc-result {
  color: var(--theme-shade5);
  font-weight: bold;
  font-size: 60px;
  line-height: 48px;
  margin-bottom: 1rem;
}

main .compensation-calculator .result-wrapper .calc-result.fs-sm {
  font-size: 50px;
}

main .compensation-calculator .result-wrapper .calc-result.fs-xs {
  font-size: 45px;
}

main .compensation-calculator .result-wrapper .calc-result.total-pto {
  font-size: 35px;
}

main .compensation-calculator .result-wrapper p {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

main .compensation-calculator .navbtn-wrapper button {
  padding: 16px 0;
  width: 6rem;
}

main .compensation-calculator .icon-dollar {
  position: absolute;
  left: 0;
}

main .compensation-calculator .icon-dollar::before {
  content: '';
  background-image: url('./dollar-logo.svg');
  position: relative;
  left: 0;
  top: 20px;
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 35px;
  border-right: 1px solid #d6ddea;
}

@media screen and (min-width: 782px) {
  main .compensation-calculator form {
    gap: unset;
    grid-template-rows: 1fr auto;
    grid-template-columns: minmax(0, 1fr);
  }

  main .compensation-calculator .tab .field-item {
    width: 48%;
  }

  main .compensation-calculator .tab {
    flex-direction: row;
    padding: 2em 2.5em;
    height: auto;
  }

  main .compensation-calculator .navbtn-wrapper {
    padding: 1em 2.5em 2em;
  }

  main .compensation-calculator-content-right {
    order: 1;
    flex: 0 0 55%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }

  main .compensation-calculator .result-wrapper {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  main .compensation-calculator .result-wrapper .result-right {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100%;
  }

  main .compensation-calculator-content-right .form-cta-container {
    margin-top: 20px;
  }

  main .compensation-calculator .navbtn-wrapper button {
    width: 8rem;
  }

  main .compensation-calculator .result-wrapper .result-left {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 992px) {
  main .compensation-calculator-content {
    justify-content: space-between;
    column-gap: 40px;
    padding-top: 20px;
  }

  main .compensation-calculator-content-left {
    order: 0;
    flex: 0 0 33.3333%;
  }

  main .compensation-calculator-content-left img {
    border-bottom-left-radius: 12px;
    min-width: 315px;
  }

  main .compensation-calculator button {
    padding: 16px 48px;
  }
}

main .compensation-calculator .hidden {
  display: none;
}
