.countdown-clock-wrapper {
    color: var(--color-white);
    background-color: var(--color-1-shade-10);
    max-width: 100%!important;
    padding: 0;
}
.countdown-clock {
    width: fit-content;
    margin: 0 auto;
    background: #35733F;
}
.countdown-display {
    display: flex;
    justify-content: center;
    padding: 0 15px;
}
.countdown-value {
    width: 80px;
    text-align: center;
    margin: 10px 8px 5px;
}
.countdown-number {
    background-color: var(--color-1-shade-15);
    border-radius: 5px;
    padding: 10px 0;
    margin-bottom: 5px;
    font-weight: 900;
    font-size: 24px;
}
.countdown-semicolon {
    font-size: 36px;
    margin-top: 16px;
}
