main .author {
    padding-top: 50px;
    border-top: 2px solid #DFDEDC;
    margin-top: 50px;
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 32px;
}

main .author img {
    width: 135px;
    height: 135px;
    padding: 4px;
    border-radius: 50%;
}

main .author-description {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

main .author-description > p {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}

main .author-description > p.author-name {
    font-weight: 700;
    font-size: 18px;
}

main .learn-more {
    align-self: flex-end;
}

main .author-description a:any-link {
    color: var(--category-color);
}

@media (min-width: 900px) {
    main .author {
        flex-direction: unset;
        text-align: unset;
    }

    main .author-image {
        flex-shrink: 0;
    }
        
}
