main .author {
    padding-top: 50px;
    border-top: 2px solid #DFDEDC;
    margin-top: 50px;
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}

main .author img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

main .author-description > p {
    margin: 0;
}

main .author-description a:any-link {
    color: var(--category-color);
}

.blog-redesign main .author {
    padding-top: 28px;
    gap: 32px;
}

.blog-redesign main .author img {
    width: 135px;
    height: 135px;
    padding: 4px;
    border-radius: 50%;
}

.blog-redesign main .author-description {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.blog-redesign main .author-description > p {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}

.blog-redesign main .author-description > p.author-name {
    font-weight: 700;
    font-size: 18px;
}

.blog-redesign main .author-description a:any-link {
    color: var(--color-1-shade-10);
}

.blog-redesign main .learn-more {
    align-self: flex-end;
    font-weight: 500;
    font-size: 16px;
}

@media (min-width: 900px) {
    main .author {
        flex-direction: unset;
        text-align: unset;
    }

    main .author-image {
        width: 130px;
        flex: 0 0 130px;
    }

    main .author-description {
        padding-top: 25px;
    }

    .blog-redesign main .author-description {
        padding-top: 0;
    }

    .blog-redesign main .author-image {
        width: 135px;
        flex: 0 0 135px;
    }
}
