.hr-101-guide main .call-to-action-container {
    background-color: var(--color-1-tint-15);
}

.hr-101-guide main .call-to-action {
    color: var(---color-gray-12);
}

.hr-101-guide main .call-to-action h2, .hr-101-guide main .call-to-action h3, .hr-101-guide main .call-to-action h4 {
    color: var(--color-gray-12);
}

.hr-101-guide main .call-to-action a.button {
    color: var(--color-white);
    background-color: var(--theme-shade5);
}

.hr-101-guide main .callout {
    background-image: url('./bg/green-cta.svg');
    color: var(--color-1-tint-15);
    box-shadow: 0 30px 60px -40px rgba(29 147 54 / 50%);
  }

  .hr-101-guide main .callout a.button {
    background-color: var(--theme-shade5);
  }

  .hr-101-guide main .callout h3 {
    color: var(--color-gray-12);
  }

  .hr-101-guide main .callout p {
    color: var(--color-gray-12);
  }