.paid-landing-page main .form h1 {
  font-family: var(--heading-font-family);
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  color: var(--theme-shade10);
}

.paid-landing-page main .form.has-content .content-col {
  max-width: 83%;
  margin: 0 auto 40px;
  text-align: center;
}

.paid-landing-page main .form.has-content .content-col ul {
  max-width: 480px;
  margin: 48px auto 0;
  padding-left: 0;
  text-align: left;
}

.paid-landing-page main .form.has-content ul li {
  list-style: none;
  background-image: url('/icons/bullets/level1-check.svg');
  background-repeat: no-repeat;
  padding-inline-start: 48px;
  line-height: 32px;
}

@media (min-width: 900px) {
  .paid-landing-page main .form h1 {
    font-size: 54px;
    line-height: 60px;
  }
}

@media (min-width: 1200px) {
  .paid-landing-page main .form.has-content .content-col {
    max-width: inherit;
    text-align: left;
  }
  .paid-landing-page  main .form.has-content .content-col ul {
    max-width: inherit;
  }
}

@media (min-width: 1800px) {
  .paid-landing-page main .form h1 {
    font-size: 70px;
    line-height: 80px;
  }
}

.paid-landing-page main .form h2 {
  font-family: var(--body-font-family);
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  margin: 24px 0 0;
  color: var(--theme-shade10);
}

@media (max-width: 1199px) {
  .paid-landing-page main .form .content-col {
    text-align: center;
  }
}

.paid-landing-page main .columns p,
.paid-landing-page main .columns ul,
.paid-landing-page main .app-download p,
.paid-landing-page main .app-download ul,
.paid-landing-page main .form .content-col p,
.paid-landing-page main .form .content-col ul {
  color: var(--color-gray-12);
}

@media (max-width: 899px) {
  .paid-landing-page .has-bg > span.bg-right-multi-3 {
    display: none;
  }
}

@media (min-width: 600px) and (max-width: 1199px) {
  .paid-landing-page main .form.has-content .form-col,
  .paid-landing-page main .form.has-content h2 {
    max-width: 480px;
    margin: 0 auto;
  }
}