.trade-show .form .content-col {
  text-align: center;
}

.trade-show .form .content-col :is(h1) {
  font-family: var(--heading-font-family);
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  color: var(--theme-shade15);
}

.trade-show .form .content-col :is(h2) {
  font-family: var(--body-font-family);
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  color: var(--theme-shade10);
}

.trade-show .form.light-title-color .content-col :is(h1) {
  color: var(--theme-tint10);
}

.trade-show .form.light-title-color .content-col :is(h2) {
  color: var(--color-white);
}

.trade-show .form .content-col p {
  color: var(--color-white);
  font-weight: 500;
}

@media(min-width: 1200px){
  .trade-show .form .content-col {
    text-align:left;
  } 
}