.onboarding-calculator {
	background-color: #F6FAFD;
	border-radius: 12px;
	box-shadow: 0 4px 12px 4px #86868624;
	margin: 0 auto;
	position: relative;
}

.onboarding-calculator h2 {
	font-size: 20px;
	line-height: 26.5px;
	margin: 20px 0 15px;
}

.onboarding-calculator p {
	font-size: 14px;
	line-height: 24px;
	margin: 0;
}

.onboarding-calculator__content {
	display: flex;
    flex-wrap: wrap;
}

.onboarding-calculator__content-left {
	order: 1;
}

.onboarding-calculator__content-left picture {
	display: flex;
}

.onboarding-calculator__content-left img {
	width: 100%;
}

.onboarding-calculator__content-right {
	order: 0;
}

.onboarding-calculator__content-right .form-cta-container {
	display: flex;
	gap: 17px;
}

@media screen and (min-width: 992px) {
	.onboarding-calculator__content {
		justify-content: space-between;
		column-gap: 40px;
	}

	.onboarding-calculator__content-left {
		order: 0;
		flex: 0 0 33.333333%;
	}

	.onboarding-calculator__content-left img {
		border-bottom-left-radius: 12px;
	}
	
	.onboarding-calculator__content-right {
		order: 1;
		flex: 0 0 60%;
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		padding-right: 58px;
	}	
}

button {
	text-decoration: none;
	border-radius: 100px;
	border: none;
	padding: 18px 40px;
	text-align: center;
	font-size: 18px;
	font-family: var(--heading-font-family);
	font-style: normal;
	font-weight: var(--heading-font-weight);
	cursor: pointer;
	color: var(--color-white);
	background-color: #1A87C9;
	margin: 16px 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	transition: background-color 0.1s;
}

.d-none {
	opacity: 0;
	z-index: -1;
}

.onboarding-calculator form {
	display: flex;
	flex-wrap: wrap;
	position: absolute;
    top: 0;
    height: 100%;
	width: 100%;
	background-color: #F6FAFD;
	align-content: center;
	padding: 0 2.5em;
}

.onboarding-calculator form.active {
	opacity: 1;
	z-index: 1;
}

.tab {
	display: none;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: 30px;
}

.tab .field-item {
	width: 48%;
}

.tab .field-item input[type="number"]{
	height: 52px;
	border: 1px solid #B1BFCA;
    border-radius: 8px;
}

.tab .field-item.invalid input[type="number"]{
	background-color: #ffdddd;
}

.tab .field-item input[type="range"]{
	--percent: 50%;
    background-color: #B6E0FA;
    background-image: linear-gradient(#1A87C9,#1A87C9);
    background-size: var(--percent) 100%;
    background-repeat: no-repeat;
    border-radius: 0;
    display: block;
    height: 0.5em;
    transition: background-color 0.3s;
    appearance: none;

}

.tab .field-item label {
	font-size: 13px;
	font-weight: 500;
	line-height: 20px;
	margin-bottom: 8px;
	display: block;
}

.tab .field-item input {
	width: 100%;
}

.field-item__range {
	position: relative;
}

.field-item__range .range-value {
	background: var(--color-5);
	color: white;
	padding: 4px 12px;
	position: absolute;
	border-radius: 4px;
	left: 50%;
	transform: translateX(-50%);
}

.field-item__range .range-value::after {
	content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 10px solid var(--color-5);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: -5px;
    left: 50%;
    margin-left: -5px;
    margin-top: -1px;
}

.progress-bar {
	display: flex;
    position: absolute;
    top: 0;
	left: 0;
    width: 100%;
}

.step {
	height: 8px;
    background-color: #E8F3FA;
    flex: 1;
}

.step.step-active {
	background-color: #1A87C9;
}

.step.finish {
	background-color: #1A87C9;
}

.onboarding-calculator .tooltip {
	position: relative;
	display: inline-block;
	margin-left: 0.25rem;
	width: 14px;
	height: 14px;
	background: #1A87C9;
	cursor: help;
	border-radius: 50%;
	top: 2px;
}

.onboarding-calculator .tooltip::before,
.onboarding-calculator .tooltip::after {
	content: '';
	position: absolute;
	width: 2px;
	background: white;
}

.onboarding-calculator .tooltip::before {
	height: 2px;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-220%);
}

.onboarding-calculator .tooltip::after {
	top: 50%;
	left: 50%;
	height: 5px;
	transform: translate(-50%,-15%);
	width: 2px;
}

.onboarding-calculator .tooltip__text {
	position: absolute;
	display: block;
	pointer-events: none;
	opacity: 0;
	top: 1.4rem;
	left: 50%;
	transform: translateX(-50%);
	background:#1A87C9;
	border-radius: 0.5rem;
	color: white;
	width: 10rem;
	padding: 0.25rem;
	text-align: center;
	font-size: 0.75rem;
	transition: all 0.3s ease-in-out;
}

.onboarding-calculator .tooltip:hover .tooltip__text {
	opacity: 1;
	top: 1.25rem;
	transition: all 0.3s ease;
}

.onboarding-calculator .navBtn-wrapper {
	width: 100%;
	display: flex;
    justify-content: space-between;
}

.onboarding-calculator #prevBtn {
	border: 1px solid #1A87C9;
	color: #1A87C9;
	background-color: transparent;
}